
      html{
        background:black;
      }
      img{
        border:10px solid white;
        padding:20px;
        margin-left:38%;
        margin-top:40px;
      }
      h1{
        font-family:"open sans,cursive";
        color:red;
        text-align:center;
      }
      body{
        border:dashed white;
        height:1000px;
        padding:100px
        margin:0px
    
      }
      p{
        margin-left:44%;
        color:white;
      }
      

    